header {
  margin: 0 auto;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
}
header div {
  display: flex;
  gap: 10px;
}
header img {
  height: 80%;
  object-fit: cover;
}
header p {
  font-size: 25px;
  padding: 25px;
  color: white;
}
header p:hover {
  padding: 25px;
  color: rgb(102, 101, 99);
}
